.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.track {
  position: relative;
  width: 400px;
  height: 600px;
  background: url('./images/race-track-background.jpg') no-repeat center center;
  background-size: cover;
  overflow: hidden;
  border: 2px solid #000;
}

.car {
  width: 50px;
  height: 70px;
  position: absolute;
  bottom: 120px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('./images/car.png'); 
}

.player-car {
  background-color: red;
}

.enemy-car {
  background-color: green;
}

.score {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #6c2020;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.game-over button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
}
